# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Folders
/bin
/img
/obj

#Vim swp
*.swp

#DLL
*.dll

#C::B
*.cbp
*.depend
*.layout
